.action {
  margin: 2rem 0;
  width: 15.5rem;
}

.action > p {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

@media (max-width: 48em) {
  .action {
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 100%;
  }
}
