.main {
  width: 70%;
  padding: 0 1rem;
}

.side {
  width: 30%;
  padding: 0 1rem;
}

@media (max-width: 48em) {
  .main,
  .side {
    margin-bottom: 1.5rem;
  }

  .main {
    width: 100%;
  }

  .side {
    width: 100%;
    padding: 0;
  }
}
