:root {
  --blue-color: #1468bd;
  --white-color: #fefefe;
  --green-color: #35962e;
  --yellow-color: #f4bf02;
  --red-color: #d20707;
  --black-color: #313638;
  --light-text-color: rgba(49, 54, 56, 0.4);
  font-size: calc(100vw * 16 / 1440);
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white-color);
}

@media (max-width: 48em) {
  :root {
    font-size: calc(100vw * 12 / 360);
  }

  body {
    margin: 0 auto;
  }
}
